body, html {
    height: 100%;
}
page-home {
   .bg { 
    /* The image used */
    background-image: url("https://www.aqspanail.com/uploads/aqspanxyxbmvz/logo/2017/10/14/1_1507989754_11_dreamstime_xxl_76168275.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50);
    }
}