page-list {
    body{background:orange;}    /* No other backgrounds are used */

    ul.leaders {
      padding:        0;
      padding-left: 20px;
    }
    ul.leaders li {
      display:        table;
    }
    ul.leaders li span {
      display:        table-cell;
    }
    ul.leaders li span:first-child { /* TITLE */
      position:       relative;
      overflow:       hidden;       /* Don't go underneath the price */
    }
    ul.leaders li span:first-child:after { /* DASHES */
      content:        "";
      position:       absolute;
      bottom:         0.5em;        /* Set as you want */       
      margin-left:    0.5em;        /* Keep same for the next span's left padding */
      width:          100%;
      border-bottom:  1px dashed #000;
    }
    ul.leaders li span + span {     /* PRICE */
      text-align:     right;
      width:          1%;           /* Trick it */
      vertical-align: bottom;       /* Keep Price text bottom-aligned */
      padding-left:   0.5em;
      padding-right: 2.0em;
      /* white-space: nowrap;       /* Uncomment if needed */
    }

    .bg { 
        /* The image used */
        background-image: url("https://www.aqspanail.com/uploads/aqspanxyxbmvz/logo/2017/10/14/1_1507989754_11_dreamstime_xxl_76168275.jpg");
        /* Full height */
        height: 100%; 
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        filter: alpha(opacity=50);
        
        }
}
